$primary-color: #F7F8F8;
$secondary-color: #002f34;
$dark-color:#1C2728;
$white: #FFFFFF;
$light-grey: #EBEEEF;
$primary-text-color:  #808080;
$secondary-text-color:#002f34;
$dark-text-color:#222;
$light-blue: #0d95c6;